*.png
*.bin
*.fits
*.dat
*.raw
**/bin
**/mex
**/lib
*.linkinfo
*.hash
*.o
*.stub.*
*.cudafe1*
*.cu.cpp
*.cpp1.ii
*.cpp2.i
*.cpp3.i
*.cudafe2*
*.ptx
*.cubin
*.fatbin*
*_o
*~
*.jpg
*.eps
*.mat
*.fits
*.JPG
*.gif
log
**/Default
**/Release
**/Debug
**/.settings
._*
*.d
.DS_Store
.nfs*
cmake_install.cmake
/CMakeFiles
/Release/
Makefile
CMakeCache.txt
